<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>ONLINE EAXM Potal</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
		integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
		crossorigin="anonymous"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>
	<div class="container-fluid">
		<!--Uper hedder Start-->
		<div class="row bg-primary text-white text-center py-2 mt-4">
			<div class="col-sm-6">WLCOME OEXP Protal</div>
			<div class="col-sm-6">Home | EXAM | QUIZZES</div>
		</div>
		<!--- header start--->
		<div class="row">
			<div class="col-sm-3"><img src="/images/logo.jpg " height="200" alt="Logo" /></div>
			<div class="col-sm-3 fw-bolder py-5">
				<h1>OEXP Protal</h1>
				<h6>Online Examnation System</h6>
			</div>

			<div class="col-sm-3 py-5">
				<button class="btn btn-outline-primary"><i class="fa-solid fa-award"></i>Help To Growth</button>
			</div>
			<div class="col-sm-3 py-5">
				<span><i class="fa-solid fa-phone fa-bounce"></i>Call US:+91 00000 00000</span><br />
				<span><i class="fa-solid fa-envelope fa-shake"></i>
					Mail Us:onlineexamsystem@gmail.com</span>
			</div>
		</div>
		<!-- upper Heder end-->
		<!--NavBar Start -->
		<nav>
			<div class="row">
				<div class="col-sm-12 px-0">
					<nav class="navbar navbar-expand-lg bg-body-tertiary">
						<div class="container-fluid bg-primary">

							<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
								data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
								aria-expanded="false" aria-label="Toggle navigation">
								<span class="navbar-toggler-icon"></span>
							</button>
							<div class="collapse navbar-collapse" id="navbarSupportedContent">
								<ul class="navbar-nav mx-auto mb-2 mb-lg-0">
									<li class="nav-item ">
										<a class="nav-link active text-light" aria-current="page" href="/">Home |</a>
									</li>
									<li class="nav-item">
										<a class="nav-link active text-light" aria-current="page" href="#"> Examnation
											|</a>
									</li>
									<li class="nav-item">
										<a class="nav-link active text-light" aria-current="page" href="#"> Quizzies
											|</a>
									</li>
									<li class="nav-item">
										<a class="nav-link active text-light" aria-current="page" href="/login"> Login |</a>
									</li>
									<li class="nav-item">
										<a class="nav-link active text-light" aria-current="page" href="/registration"> Registration
											|</a>
									</li>
									<li class="nav-item">
										<a class="nav-link active text-light" aria-current="page" href="#"> Membership
											|</a>
									</li>

									<li class="nav-item">
										<a class="nav-link active text-light" aria-current="page" href="#"> Knowledge
											Bank |</a>
									</li>
									<li class="nav-item">
										<a class="nav-link active text-light" aria-current="page" href="#"> Contact
											US</a>
									</li>


								</ul>

							</div>
						</div>
					</nav>
				</div>
			</div>
		</nav>
		<!--NavBar End -->
		<!-- Card Image -->
		<sectio>
			<div class="row bg-primary py-3">
				<div class="col-sm-12">
					<div class="card text-bg-light shadow-lg">
						<img src="/images/onlineexam-bainer.avif" height="400px" class="card-img" alt="...">
						<div class="card-img-overlay">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">This is a wider card with supporting text below as a natural lead-in to
								additional content. This content is a little bit longer.</p>
							<p class="card-text"><small>Last updated 3 mins ago</small></p>
						</div>
					</div>
				</div>
			</div>
		</sectio>
		<!--Card Image end-->

		<!--Anoucement stsrt-->
		<div class="row py-1">
			<div class="col-sm-3 bg-primary text-white">
				<h4>Anoucement</h4>
			</div>
			<div class="col-sm-9">
				<marquee>
					<span><img src="images/new-star.gif" alt="" height="40">addmission</span>
					<span><img src="images/new-star.gif" alt="" height="40">addmission</span>
					<span><img src="images/new-star.gif" alt="" height="40">addmission</span>
					<span><img src="images/new-star.gif" alt="" height="40">addmission</span>
				</marquee>
			</div>
			<!--Anoucement end-->
			<!--event start-->

			<div class="col-sm-10 mx-auto">



				<div class="container">
					<div class="row mt-5">
						<div class="col-sm-10">
							<h2 class="fw-bold nu1 border-5 border-start border-primary">&nbsp;Upcoming Exam</h2>
						</div>
						<div class="col-sm-2">
							<p>View More&nbsp;<i class="fa-solid fa-angle-right" style="font-size: 16px;"></i></p>
						</div>
					</div>
					<div class="row">
						<div class="row row-cols-1 row-cols-md-2 g-4 mb-5">
							<div class="col cb">
								<div class="card border-0">
									<div class="row mx-auto p-0 shadow rounded-2">
										<div class="col-sm-4 ss">
											<h1 class=" fw-bold"
												style="color:rgb(2, 100, 213); padding-left: 78px; font-size: 45px; padding-top:35px;">
												<i class="fa-solid fa-calendar-days"></i>&nbsp;
											</h1>
											<h3 class=" fw-bold pb-3" style="padding-left:50px; ">21 Jun</h3>
										</div>
										<div class="col-sm-8 border">
											<div class="card-body">

												<p class="card-text p-2"
													style="text-align: justify; font-family: sans-serif;">Workshops and
													Seminars Focus on materials management, supply chain management, and
													logistics. These
													sessions will provide insights into industry trends and techniques.

												</p>
												<div class="row">
													<div class="col-sm-3 w50">

														<p class="pt-0 fw-bold" style="margin-top: -15px; ;">2024</p>

													</div>
													<div class="col-sm-9 text-end w50">
														<p class="pt-0 fw-bold" style="margin-top: -15px; ">3:00 PM</p>

													</div>
												</div>

											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col cb">
								<div class="card border-0">
									<div class="row my-auto p-0 mx-auto shadow rounded-2">
										<div class="col-sm-4 ss">
											<h1 class=" fw-bold"
												style="color:rgb(2, 100, 213); padding-left: 78px; font-size: 45px; padding-top:35px;">
												<i class="fa-solid fa-calendar-days"></i>&nbsp;
											</h1>
											<h3 class=" fw-bold pb-3" style="padding-left:50px; ">1 July</h3>
										</div>
										<div class="col-sm-8 border">

											<div class="card-body">

												<p class="card-text p-2 "
													style="text-align: justify; font-family: sans-serif;">Workshops and
													Seminars Focus on materials management, supply chain management, and
													logistics. These
													sessions will provide insights into industry trends and techniques.

												</p>
												<div class="row">
													<div class="col-sm-3 w50">

														<p class="pt-0 fw-bold" style="margin-top: -15px; ;">2024</p>

													</div>
													<div class="col-sm-9  text-end w50">
														<p class="pt-0 fw-bold" style="margin-top: -15px; ">3:00 PM</p>

													</div>
												</div>

											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col cb">
								<div class="card border-0">
									<div class="row mx-auto p-0 shadow rounded-2">
										<div class="col-sm-4 ss">
											<h1 class=" fw-bold"
												style="color:rgb(2, 100, 213); padding-left: 78px; font-size: 45px; padding-top:35px;">
												<i class="fa-solid fa-calendar-days"></i>&nbsp;
											</h1>
											<h3 class=" fw-bold pb-3" style="padding-left:50px; ">8 July</h3>
										</div>
										<div class="col-sm-8 border">

											<div class="card-body">

												<p class="card-text p-2"
													style="text-align: justify; font-family: sans-serif;">Workshops and
													Seminars Focus on materials management, supply chain management, and
													logistics. These
													sessions will provide insights into industry trends and techniques.

												</p>
												<div class="row">
													<div class="col-sm-3 w50">

														<p class="pt-0 fw-bold" style="margin-top: -15px; ;">2024</p>

													</div>
													<div class="col-sm-9 text-end w50">
														<p class="pt-0 fw-bold" style="margin-top: -15px; ">3:00 PM</p>

													</div>
												</div>

											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col cb">
								<div class="card border-0">
									<div class="row my-auto p-0 mx-auto shadow rounded-2">
										<div class="col-sm-4 ss">
											<h1 class=" fw-bold"
												style="color:rgb(2, 100, 213); padding-left: 78px; font-size: 45px; padding-top:35px;">
												<i class="fa-solid fa-calendar-days"></i>&nbsp;
											</h1>
											<h3 class=" fw-bold pb-3" style="padding-left:50px; ">10 Aug</h3>
										</div>
										<div class="col-sm-8 border">

											<div class="card-body">
												<!-- <h5 class="card-title">Card title</h5> -->
												<p class="card-text p-2"
													style="text-align: justify; font-family: sans-serif;">Workshops and
													Seminars Focus on materials management, supply chain management, and
													logistics. These
													sessions will provide insights into industry trends and techniques.

												</p>
												<div class="row">
													<div class="col-sm-3 w50">

														<p class="pt-0 fw-bold" style="margin-top: -15px; ;">2024</p>

													</div>
													<div class="col-sm-9 text-end w50">
														<p class="pt-0 fw-bold" style="margin-top: -15px; ">3:00 PM</p>

													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!--event end-->

	<!--aboutimmm-->
	<div class="row bg-primary text-light py-5">
		<div class="col-sm-10 mx-auto">
			<h1 class="border-5 border-start border-light"> &nbsp;About OEXP Portal</h1>
			<p class="fs-5" style="text-align:justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				Molestiae similique architecto sequi facilis molestias aspernatur in! Ipsam voluptatibus aliquid quis
				voluptates, at suscipit consequatur facere, deleniti, delectus odio ipsa ducimus.
				Ducimus rerum earum doloremque nihil necessitatibus numquam, error culpa molestiae assumenda laudantium
				optio. Perspiciatis ut rerum veniam placeat impedit, neque in, dignissimos officiis aperiam esse ullam
				et similique, voluptatibus sed!
				Neque, esse explicabo rem dolorem nostrum ut eos aspernatur perferendis voluptatem hic sequi sed nam
				culpa et asperiores cum, perspiciatis nihil sunt fugiat odio molestiae quasi consectetur accusamus!
				Dolorem, reiciendis?
				Libero ullam placeat sint eum dicta. Temporibus magnam soluta cumque, quis quod voluptates rerum. Iste
				eligendi fuga ea debitis maxime nihil voluptatibus, eius ab beatae, aspernatur quo. Cupiditate,
				voluptates vero.
				Sed eum culpa enim ab eligendi vero, a nemo sequi delectus et eaque suscipit quaerat molestiae animi
				deserunt fugiat fuga. Exercitationem maiores nostrum eveniet distinctio iusto voluptas esse minima
				molestiae!</p>
		</div>
	</div>
	<!--about iimm end-->

	<!--student start-->
	<section>
		<div class="row">
			<div class="col-sm-12 py-5" style="display: flex; align-items: center;justify-content: space-evenly;">
				<div class="border py-2" style="height:100px; width:100px; align-items: center;">
					<i class="fa-solid fa-user-graduate" style="font-size: 80px;"></i>

					<div style=" font-size: 18px;">
						<h4>
							Student
						</h4>
						<h4 style="margin: 10px;">
							1000+
						</h4>
					</div>
				</div>
				<div class="border py-2" style="height:100px; width:100px; align-items: center;">
					<i class="fa-solid fa-user-graduate" style="font-size: 80px;"></i>

					<div style=" font-size: 18px;">
						<h4>
							Student
						</h4>
						<h4 style="margin: 10px;">
							1000+
						</h4>
					</div>
				</div>
				<div class="border py-2" style="height:100px; width:100px; align-items: center;">
					<i class="fa-solid fa-user-graduate" style="font-size: 80px;"></i>

					<div style=" font-size: 18px;">
						<h4>
							Student
						</h4>
						<h4 style="margin: 10px;">
							1000+
						</h4>
					</div>
				</div>
				<div class="border  py-2" style="height:100px; width:100px; align-items: center;">
					<i class="fa-solid fa-user-graduate" style="font-size: 80px;"></i>

					<div style=" font-size: 18px;">
						<h4>
							Student
						</h4>
						<h4 style="margin: 10px;">
							1000+
						</h4>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--student end-->

	<!--fotter-->
	<div class="row mt-4 text-light bg-primary">
		<div>
			<div class="container">
				<footer class="footer-section">
					<div class="container">
						<div class="footer-cta pt-5 pb-5">
							<div class="row">
								<div class="col-xl-4 col-md-4 mb-30">
									<div class="footer-widget">
										<div>
											<h3>Welcome To OEXP Portal</h3>

										</div>
										<div class="footer-text py-3" style="margin-top: -20px;">
											<p>OEXP is dedicated to the promotion of the profession of Materials
												Management and with its multifarious activities, including EDP,
												seminars, workshops, in-house training programs and consultancy
												assignment.</p>
										</div>
										<div class="footer-social-icon">
											<span>Follow us</span>
											<a href="#" style="color: whitesmoke;"><i
													class="fab fa-facebook-f facebook-bg"></i></a>
											<a href="#" style="color: whitesmoke;"><i
													class="fab fa-twitter twitter-bg"></i></a>
											<a href="#" style="color: whitesmoke;"><i
													class="fab fa-google-plus-g google-bg"></i></a>
										</div>
									</div>
								</div>
								<div class="col-xl-4 col-md-4 mb-30 maf">
									<div class="single-cta">
										<i class="fas fa-phone"></i>
										<span>
											<div class="cta-text">
												<h4>Call us</h4>
												<span>+91&nbsp;90000&nbsp;00000</span><br>
												<span>+91&nbsp;90000&nbsp;00000</span>
											</div>
										</span>
									</div>
								</div>
								<div class="col-xl-4 col-md-4 mb-30  maf">
									<div class="single-cta">
										<i class="far fa-envelope-open"></i>
										<div class="cta-text">
											<h4>Mail us</h4>
											<span><a href="/cdn-cgi/l/email-protection" class="__cf_email__"
													data-cfemail="d1b8bfb7be91b8b8bcbcb0a8beb5b9a8b0ffbea3b6"
													style="color: whitesmoke; text-decoration: none;">[email&#160;protected]</a></span><br>
											<span><a href="/cdn-cgi/l/email-protection" class="__cf_email__"
													data-cfemail="9df4f4f0f0fce4f2f9f5e4fcddfaf0fcf4f1b3fef2f0"
													style="color: whitesmoke;text-decoration: none;">[email&#160;protected]</a>
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
					<hr style="color: whitesmoke;">
					<div class="copyright-area">
						<div class="container">
							<div class="row">
								<div class="col-sm-12 text-center">
									<div class="copyright-text text-center">
										<p>© Copyright 2024 Designed & Developed By | NAM </p>
									</div>
								</div>

							</div>
						</div>
					</div>
				</footer>
			</div>
		</div>
		<!--Footer end-->
	</div>
</body>

</html>